lab5/task1XSDGENERATOR.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="gmailUsers">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="C"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="C">
        <xs:complexType>
            <xs:attribute name="clientName" use="required"/>
            <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
